@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet');

html, body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
    font-size: 1rem;
    /* max-width: 1920px; */
}
.container {
    /*display: flex; 
    flex-direction: column; */
    max-width: 1113px;
    height: 100%;
    /* background-size: cover !important; */
    margin: 0 auto;
}

@media (max-width:1113px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}

.menu_logo {
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    flex-direction: row;
    height: 17%;
    width: 100%;
    justify-content: space-around;
}
.logo {
    margin-top: 2%;
}
.present {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20%;
    
}
.about_me {
    text-align: center;
    width: 28%;
    align-self: center;
    margin-top: 10%;
}

.design h1,
.design p {
    width: 48%;
}

.design {
    margin-left: 10%;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 40%;
}

.menu li {
    list-style-type: none;
    border: 0;
    outline: none;   
}

.menu__link  {
    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    color: #000000; 
    text-decoration: none; 
}

.gallery {
    display: flex;
    flex-direction: row;
    margin-top: 20%;
}

.img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 60px;
}
 
.present {
    display: grid;
    grid-column: 2 / 4;
    grid-row: 3 / 4; 
}
 
.design {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 2; 
    margin-left: 5em;
}

